# Chatbot UI
DEFAULT_MODEL=gpt-3.5-turbo
DEFAULT_SYSTEM_PROMPT=You are ChatGPT, a large language model trained by OpenAI. Follow the user's instructions carefully. Respond using markdown.
OPENAI_API_KEY= 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
# Google
GOOGLE_API_KEY=AIzaSyBRXpQGNDgnxU03CmnWnR8Xao_mK_lI7uM
GOOGLE_CSE_ID=67ac07d1df5a342ef
