# Chatbot UI
DEFAULT_MODEL=gpt-3.5-turbo
DEFAULT_SYSTEM_PROMPT=You are ChatGPT, a large language model trained by OpenAI. Follow the user's instructions carefully. Respond using markdown.
OPENAI_API_KEY=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
# Google
GOOGLE_API_KEY=AIzaSyAncTASEIeIptJO0-ob3JJENSEnm4I4PCA
GOOGLE_CSE_ID=67ac07d1df5a342ef
